/* Base Application Styles */
 .uk-tile {
     border-radius: 10px;
 }

.uk-tile-success {
    background-color: #01B48F;
}

.uk-tile-running {
    background-color: #44C7F4;
}

.uk-tile-failed {
    background-color: red;
}

.uk-tile-no_tests {
    background-color: #EACA2C;
}

.uk-tile-timedout {
    background-color: #FF9A57;
}

body {
    font-family: 'Lato';
}

.uk-heading-hero {
    font-family: 'Lato';
    font-weight: 400 !important;
}

.uk-heading {
    font-famiy: 'Lato';
}

.uk-text-dark {
    color: #4d4d4d;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato' !important;
    font-weight: 900 !important;
}
